:root {
  --color-login-bg: #CFE4DA;
  --color-border: #EAECF0;
  --color-white: #fff;
  --color-gray-900: #101828;
  --color-gray-600: #475467;
  --color-gray-500: #667085;
  --color-gray-300: #D0D5DD;
  --color-gray-200: #EAECF0;
  --color-green-1: #1B8B8C;
  --color-green-3: #163642;
  --color-green-2:#F0F7F7;
  --color-gray-700: #344054;
  --color-blue-1: #B2EDF5;
  --color-blue-2: #C9F8E3;
  --color-black-1: #050A15;
  --color-yellow-1: #eaba61;
}